<ion-header>
	<ion-navbar color="inmedias">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-title>Home</ion-title>

		<ion-buttons end>
			<button ion-button (click)="options()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list inset>
		<button ion-item *ngFor="let inventury of inventuries" (click)="showData(inventury)">{{inventury.title}} vom {{inventury.date}}
		<ion-badge item-right color="danger" *ngIf="inventury.done">Abgeschlossen</ion-badge></button>
	</ion-list>
</ion-content>